<p id="notice"><%= notice %></p>

<p>
  <strong>Band Name:</strong>
  <%= @band.name %>
</p>

<p><strong>Albums:</strong></p>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<%= link_to 'Add an album', new_band_album_url(@band) %><br>
<%= link_to 'Edit this band', edit_band_url(@band) %><br>
<%= link_to 'Delete this band', band_url(@band), method: :delete %><br>
<%= link_to 'See all bands', bands_url %>
