<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Live:</strong>
  <%= @album.live %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Band:</strong>
  <%= @album.band.name %>
</p>

<p>
  <strong>Tracks:</strong>
  <ul>
    <% @album.tracks.each do |track| %>
      <li><%= link_to track.name, track_url(track) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Add a track', new_album_track_url(@album) %><br>
<%= link_to 'Edit this album', edit_album_url(@album) %><br>
<%= link_to 'Delete this album', album_url(@album), method: :delete %><br>
<%= link_to 'See all albums from ' + @album.band.name, band_url(@album.band) %>